* {
  font-family: 'Bitter', serif;
  color: whitesmoke;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  z-index: -3;
}

::-webkit-scrollbar
{
  width: 0px;
}